body {
	background-image: url(../pictures/structure/font.png);
	background-repeat: repeat-x;
	background-position: top left;
	background-color: #b8b9bc;
}

/* ---------------------- Menu DEBUT---------------------- */
#menucontainer {
	margin-left: 0.1em;
	padding-right: -3em;
	height: 56px;
	color: #E0E0E0;
	background: #143D55;
	width: 796px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

#menunav {
	padding-right: 2 . em;
	position: relative;
	height: 33px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	background: #000000 url(../pictures/structure/menu_bg.gif) repeat-x
		bottom left;
	padding: 0 0 0 20px;
}

#menunav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: auto;
	float: left;
}

#menunav ul li {
	display: block;
	float: left;
	margin: 0 1px;
}

#menunav ul li a {
	display: block;
	float: left;
	color: #EAF3F8;
	text-decoration: none;
	padding: 0 0 0 20px;
	height: 33px;
}

#menunav ul li a span {
	padding: 12px 20px 0 0;
	height: 21px;
	float: left;
}

#menunav ul li a:hover {
	color: #fff;
	background: transparent url(../pictures/structure/menu_bg-OVER.gif)
		repeat-x bottom left;
}

#menunav ul li a:hover span {
	display: block;
	width: auto;
	cursor: pointer;
}

#menunav ul li a.current,#menunav ul li a.current:hover {
	color: #fff;
	background: #1D6893 url(../pictures/structure/menu_left-ON.gif)
		no-repeat top left;
	line-height: 275%;
}

#menunav ul li a.current span {
	display: block;
	padding: 0 20px 0 0;
	width: auto;
	background: #1D6893 url(../pictures/structure/menu_right-ON.gif)
		no-repeat top right;
	height: 33px;
}

/* ---------------------- Menu FIN ---------------------- */
html,body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, serif, sans-serif;
	text-align: justify;
}

#global {
	width: 800px;
	height: 400px;
	margin: 0 auto;
}

#header {
	height: 70px;
}

#box {
	background: url(../pictures/structure/header.png) center top no-repeat;
	padding-top: 70px;
	position: relative;
	width: 800px;
}

.content-box {
	background: url(../pictures/structure/box3.png) center repeat-y;
	min-height: 400px;
}

.bottom-box {
	background: url(../pictures/structure/box4.png) center bottom no-repeat;
	height: 70px;	
}

#textemenu {
	font-family: Arial, Verdana, serif;
	text-align: center;
	font-size: 0.8em;
}

#sousmenu {
	font-family: Arial, Verdana, serif;
	text-align: center;
	padding-top: 10px;
	color: red;
	font-size: 1em;
}

.marge {
	margin-left: 1.5em;
}

#slogan {
	background: url(../pictures/structure/slogan.png) center top no-repeat;
	position: relative;
	left: 20%;
	top: -1%;
	height: 45px;
	width: 350px;
}

/*---------Pour la page Message.html---------*/
#Message {
	text-align: center;
}

#contenu {
	min-height: 300px;
	padding: 20px;
}

#panneau {
	position: fixed;
    bottom: 0px;
    left: 0;
	background:url(../pictures/structure/panneau.png) center no-repeat;
	width: 165px;
	height:200px;
}

#panneau-title {
	width:150px;
	height: 50px;
	margin: 40px auto;
	text-align: center;
	font-weight: bold;
	color: gray;
		
}

/* ----  Titres ---- */
h1 {
	padding:20px 0px;
	text-shadow: 1px 1px 3px #888;
	font-size: 20px;
	display:block;
	height: 35px;
}

/* ---- Content ---- */
p {
	font-size: 14px;
	line-height: 20px;
	color: #686868;
	text-indent: 10px;
}

/* ---- Tables ---- */

table {
	margin: 10px auto;	
}
tr {
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
    text-align: left;
}

td {
	border-bottom: 1px solid #CCCCCC;
    color: #666699;
    padding: 20px 20px !important;	
}
th {
    border-bottom: 2px solid #6678B1;
    color: #003399;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;	
}

/* ---- Message ui ---- */

.alert_info {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #B5E5EF url(../images/icn_alert_info.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #77BACE;
color: #082B33;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

.alert_warning {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F5F3BA url(../images/icn_alert_warning.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #C7A20D;
color: #796616;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

.alert_error {
display: block;
width: 95%;
margin: 10px 3% 10px 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F3D9D9 url(../images/icn_alert_error.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #D20009;
color: #7B040F;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

.alert_success {
display: block;
width: 95%;
margin: 10px 3% 10px 3%;
margin-top: 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #E2F6C5 url(../images/icn_alert_success.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #79C20D;
color: #32510F;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}